<br>
<div id="welcome">
    <h1>Welcome to Secret Santa!</h1>
</div>
<br>
<div id="login_registration">
    <%= link_to 'Login', 'login' %> | 
    <%= link_to 'Registration', new_user_path %>
</div>